@model SmartAdmin.WebUI.Models.Funcionario

@{
    ViewData ["Title"] = "Detalhes de Funcionário";
    ViewData ["PageName"] = "funcionarios-details";
    ViewData ["Category1"] = "Funcionarios";
    ViewData ["Heading"] = "Font Awesome 5: <span class='fw-500'>Regular</span>";
    ViewData ["PageDescription"] = "Detalhe de Funcionario";
}

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FuncionarioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
